* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  scroll-behavior: smooth;
}
body {
  background: $color-black;
  color: $color-white;
}
strong {
  color: $color-Gold;
}
.heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: $color-Gold;
  font-size: 2.5rem;
  font-weight: 800;
}
.newMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colors-yellow;
  color: white;
  font-weight: 800;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}
